<div class="container max-w-md mx-auto flex-1 flex flex-col items-center justify-center px-2 mt-2 md:mt-32">
  <div class="bg-white px-6 py-6 rounded shadow-2xl text-grey w-full">
    <h1 class="mb-8 text-3xl text-center font-header">Sign In</h1>

    <%= form_with url: signin_path do |f| %>
      <%= f.label :email, class: "text-xl" %>
      <%= f.text_field :email, class: "block border border-grey-light w-full p-2 rounded mb-2" %> <br>
      <%= f.label :password, class: "text-xl" %>
      <%= f.password_field :password, class: "block border border-grey-light w-full p-2 rounded mb-2" %> <br>
      <%= f.submit "Sign In", class: "w-full text-center py-2 rounded bg-red cursor-pointer text-white hover:bg-red-dark mb-2" %>
    <% end %>
    <%= button_to "Sign In with Twitter", "/auth/twitter", class: "w-full cursor-pointer text-center py-2 rounded bg-purple text-white hover:bg-purple-dark" %>

    <div class="text-center text-sm text-grey mt-4">
      <%= link_to "need to sign up? click here!", signup_path %>
    </div>
  </div>
</div>