<%# creates the cocktail 'card' to display as a grid on the index page %>
<div class="w-64 border mx-auto p-4 rounded shadow-lg">
  <a href="<%= cocktail_path(cocktail) %>">
  <%= image_tag '/logo.svg', class: "w-full mx-auto", alt: "rocks glass" %>
  <div class="mt-2">
    <h5 class="text-xl text-grey text-center font-header tracking-widest uppercase"><%= cocktail.name %></h5>
    <h6 class="text-lg text-grey text-center font-header tracking-wide mb-2">by <%= cocktail.user.username %></h6>
    <p class="line-clamp-3"><%= cocktail.description %></p>
  </div>
  </a>
</div>