<div class="md:container md:mx-auto border p-8 rounded shadow-md">
  <div class="grid grid-cols-1 md:grid-cols-3 items-center justify-items-center">
    <img src="/logo.svg" class="w-36 md:w-52 mb-6 md:mb-0">
    <div class="col-span-2">
      <h1 class="text-6xl md:text-8xl tracking-wider text-center font-header mb-4"><%= @cocktail.name %></h1>
      <h3 class="text-3xl md:text-4xl tracking-wide text-center font-header mb-8">by <%= @cocktail.user.username %></h3>
      <p class="mx-4 text-md md:text-xl text-center md:text-right"><%= @cocktail.description %></p>
    </div>
    <div class="text-center">
      <h1 class="text-4xl md:text-6xl text-center tracking-wider font-header text-grey mt-8 mb-4">Ingredients:</h1>
      <ul class="mb-8 md:mb-0">
        <% @cocktail.cocktail_ingredients.each do |ingredient| %>
          <li class="text-lg ml-6"> <%= ingredient.amount %> - <%= ingredient.ingredient.name %> </li>
        <% end %>
      </ul>
    </div>
    <div class="col-span-2 text-center">
      <div class="mb-8">
        <%= link_to "Edit Cocktail", edit_cocktail_path(@cocktail), class: "bg-yellow hover:bg-yellow-dark text-2xl text-grey-dark py-2 px-4 rounded-lg" %>
      </div class="mb-8">
      <div>
        <%= link_to "Back to Cocktail Collection", cocktails_path, class: "bg-purple hover:bg-purple-dark text-2xl text-white py-2 px-4 rounded-lg" %>
      </div>
    </div>
  </div>
</div>

<% pre_like = @cocktail.likes.find { |like| like.user_id == current_user.id} %>
<% if pre_like %>
  <%= button_to 'Unlike', cocktail_like_path(@cocktail, pre_like), method: :delete %>
<% else %>
  <%= button_to 'Like', cocktail_likes_path(@cocktail), method: :post %>
<% end %>

<ul>
  <% @cocktail.comments.each do |comment| %>
    <li><%= comment.body %> - by <%= comment.user.username %> </li>
  <% end %>
</ul>

<%= render partial: "comment_form", locals: { comment: @cocktail.comments.build, cocktail: @cocktail } %>