<div class="container mx-auto p-3">
  <nav class="flex justify-between items-center">
    <a href="/" class="flex flex-col items-center">
      <img src="/logo.svg" alt="Logo" width="65">
      <h1 class="font-header uppercase text-sm pt-1">Night Cap</h1>
    </a>
    
    <ul class="lg:flex font-header uppercase tracking-wider">
      <% if !current_user %>
        <li class="pr-5 hover:text-gray-800 text-sm lg:text-lg"><%= link_to "Sign In", signin_path %></li>
        <li class="pr-5 hover:text-gray-800 text-sm lg:text-lg"><%= link_to "Sign Up", signup_path %></li>
      <% else %>
        <li class="pr-5 hover:text-gray-800 text-sm lg:text-lg"><%= link_to "Create Cocktail", new_cocktail_path %></li>
        <li class="pr-5 hover:text-gray-800 text-sm lg:text-lg"><%= link_to "My Cocktails", user_cocktails_path(current_user) %></li>
        <li class="pr-5 hover:text-gray-800 text-sm lg:text-lg"><%= link_to "My Account", edit_password_path(current_user) %></li>
        <li class="pr-5 hover:text-gray-800 text-sm lg:text-lg"><%= link_to "Log Out", signout_path, method: :delete %></li>
        <%= render "shared/search" %>
      <% end %>
    </ul>
  </nav>
</div>